*, html{
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(223, 247, 249);
    background-size: 1920px 768px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.isi-navbar{
    position: inherit;
}

.ul1-navbar{
    list-style-type: none;
    height: 75px;
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: right;
    background-color: rgba(50, 100, 150, .75);
}

.li-navbar{
    padding: 20px;
}

.isi-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isi-footer{
    height: 75px;
    background-color: rgba(50, 100, 150, .75);
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}

.a-navbar{
    text-decoration: none;
    color: aliceblue;
}

.a-navbar:hover{
    color:rgb(80, 80, 175);
    font-size: 110%;
}

.kliker{
    color:rgba(50, 100, 150, .75);
    text-decoration: none;
}

.nama-content{
    color:rgba(50, 100, 150, .75);
}